<html>
<head>
	<meta charset="UTF-8">
	<title>Лексико-типологическая анкета по профилю "острый".</title>
</head>
<body>
Впишите прилагательное, которое Вы бы употребили на Вашем родном языке
<form method=GET>
	Ваш родной язык: <input type="text" name="native_language"><br>
	"Сквозь табачный дым я слежу за ним, я напрягаю зрение и вижу: сверкнуло сзади человека, выстрел, он, охнув, падает навзничь, как будто ______ ножом его спереди ударили в сердце": <input type="text" name="sharp_knife"><br>
	"Стоило кому-либо в недобрый час попасться на его дороге, перейти ему нечаянно путь, и в одно мгновение ока свирепый рыцарь затаптывал насмерть несчастного копытами своего коня или пронзал его насквозь своим тяжёлым, ______ мечом":<input type="text" name="sharp_sword"><br>
	"Сфинкс играет с кошкой: опрокидывает ее носком ботинка и отдергивает ногу от ______ когтей":<input type="text" name="sharp_nail"><br>
	"А невеста, с ______ саблей и пикой, ждет дома жениха с войны".<input type="text" name="sharp_saber"><br>
	"Нож казался в ее руках детской жестяной саблей, тем не менее ______ лезвие вспороло холст и веревки с быстротой молнии":<input type="text" name="sharp_blade"><br>
	"Точно не он, а одна ______ коса сама вжикала по сочной траве":<input type="text" name="sharp_scythe"><br>
	"Если Хозяйка Судеб уже выпряла нить и занесла ______ ножницы, и ты доподлинно знаешь, сколько витков осталось крутиться веретену?":<input type="text" name="sharp_scissors"><br>
	"В правую сторону гортани как будто воткнута ______ иголка: трудно дышать, горловая спазма Сергея Иванова, так поразившая воображение, ощущается теперь мною":<input type="text" name="sharp_needle"><br>
	"______ стрелою, поди, и бессмертного могут поранить!":<input type="text" name="sharp_arrow"><br>
	"Трое охранников обнажили мечи, один взялся за рычаг, открывающий люк у дверей, под которым скрывались ______ колья, еще один ― за веревку, ведущую к колоколу в казарме."<input type="text" name="sharp_stake"><br>
	<input type="submit" value="Отправить">
</form>
</body>
</html>
