<html>
<head>
	<meta charset="UTF-8">
	<title>Как хорошо вы знаете дореволюционную орфографию?</title>
</head>
<body>
	<form>
	<p><br>1. Как правильно?
	<br><input type="radio" name="answer1" value="0">светъ
	<br><input type="radio" name="answer1" value="1">свѣтъ </p>
</form>
<form>
	<p><br>2. Как правильно?
	<br><input type="radio" name="answer2" value="1">вѣрностъ
	<br><input type="radio" name="answer2" value="0">обижаетъ </p>
</form>
<form>
	<p><br>3. Как правильно?
	<br><input type="radio" name="answer3" value="1">замѣтка
	<br><input type="radio" name="answer3" value="0">заметка </p>
</form>
<form>
	<p><br>4. Как правильно?
	<br><input type="radio" name="answer4" value="0">сѣрдечко
	<br><input type="radio" name="answer4" value="1">сердечко  </p>
</form>
<form>
	<p><br>5. Как правильно?
	<br><input type="radio" name="answer5" value="0">её
	<br><input type="radio" name="answer5" value="0">ѣё
	<br><input type="radio" name="answer5" value="0">ея </p>
</form>
<form>
	<p><br>6. Как правильно?
	<br><input type="radio" name="answer6" value="1">восхитительнейшій
	<br><input type="radio" name="answer6" value="0">восхительнѣйший </p>
</form>
<form>
	<p><br>7. Как правильно?
	<br><input type="radio" name="answer7" value="0">песня
	<br><input type="radio" name="answer7" value="1">пѣсня </p>
</form>
<form>
	<p><br>8. Как правильно?
	<br><input type="radio" name="answer8" value="0">заѣцъ
	<br><input type="radio" name="answer8" value="1">заяцъ </p>
</form>
<form>
	<p><br>9. Как правильно?
	<br><input type="radio" name="answer9" value="0">советчикъ
	<br><input type="radio" name="answer9" value="1">совѣтчикъ </p>
</form>
<form>
	<p><br>10. Как правильно?
	<br><input type="radio" name="answer10" value="0">дѣдлайн
	<br><input type="radio" name="answer10" value="1">дедлайн </p>
</form>
<form action = "/testresult">
	<p><input type="submit"></p>
</form>
</body>
</html>
